{% extends "base.html" %}


{% block content %}
{% load widget_tweaks %}
<section class="product iphone-x">
        <div class="login-dark">
            {% csrf_token %}
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{field|add_class:"form-control"}}
                {{ field.errors }}
            </div>
            {% endfor %}
                <div class="form-group"><button class="btn btn-primary btn-block">Log In</button></div>
            </form>
          <section></section>
        </div>
    </section>

{% endblock %}